#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias github="cd /mnt/c/Users/vince/OneDrive/Documents/GitHub"
alias dev="cd /mnt/c/Users/vince/OneDrive/Documents/GitHub/Development"
alias test="cd /mnt/c/Users/vince/OneDrive/Documents/GitHub/Test"
alias web="cd /mnt/c/Users/vince/OneDrive/Documents/GitHub/website"
alias fas="cd /mnt/c/Users/vince/OneDrive/Documents/GitHub/floopadminscripts"
alias g="git"
alias dot="cd /mnt/c/Users/vince/OneDrive/Documents/GitHub/dotfiles"
